src/test/resources/mule-integration-peopledoc-user-profile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ultimate-integrations="http://www.mulesoft.org/schema/mule/ultimate-integrations"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ultimate-integrations http://www.mulesoft.org/schema/mule/ultimate-integrations/current/mule-ultimate-integrations.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	
	<flow name="mule-integration-peopledoc-user-profile-flow" doc:id="25c74cf7-feb3-4e4e-a8ea-13b9a34bf38b" >
		
		<logger level="INFO" doc:name="Logger" doc:id="1a1cad74-04a6-4080-9e9c-ae5ddaab234b" message="Starting user-profile flow for Tenant Id : #[vars.integrationRequest.tenantId], Integration Id : #[vars.integrationRequest.integrationId], Job Id : #[vars.integrationRequest.jobId], Dispatch Id : #[vars.integrationRequest.dispatchId]"/>
		<ee:transform doc:name="set pagination details for User profile API" doc:id="dda5eae9-df04-4a22-bc90-97ffc743d7d1">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="hxResource" ><![CDATA[%dw 2.0
output application/java
---
p('http.request.user.profile.resource')]]></ee:set-variable>
						<ee:set-variable variableName="perPage" ><![CDATA[%dw 2.0
output application/java
---
p('http.request.per.page') ]]></ee:set-variable>
						<ee:set-variable variableName="pageNumber" ><![CDATA[%dw 2.0
output application/java
---
p('http.request.page.number')]]></ee:set-variable>
						<ee:set-variable variableName="hxBasePath" ><![CDATA[%dw 2.0
output application/java
---
p('http.request.personnel.base.path')]]></ee:set-variable>
				<ee:set-variable variableName="optionalQueryParam" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<flow-ref doc:name="Ultipro User Profile Response Aggregation" doc:id="fa3a311f-86fc-4e1d-97ac-bd66046aa609" name="mule-integration-peopledoc-http-response-aggregator-flow" target="ultiproUserProfileResponse" targetValue="#[payload]"/>
		<flow-ref doc:name="Call mapping flow" doc:id="63fb8997-552d-4299-b1a0-2d05611718c1" name="mule-integration-peopledoc-user-profile-mapping-flow"/>
		
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e6e21d43-ce2d-4d47-ae3b-74de5e5e3e49" type="ANY">
				<logger level="ERROR" doc:name="Log request" doc:id="b93aaa54-e589-4765-baf0-57d689bcab46" message="Error Occured while processing User Profile file for Tenant Id : #[vars.integrationRequest.tenantId], Integration Id : #[vars.integrationRequest.integrationId], Job Id : #[vars.integrationRequest.jobId], Dispatch Id : #[vars.integrationRequest.dispatchId] ***************** Error is ****************** : #[error]"/>
				<amqp:publish config-ref="AMQP_Config_Secure" doc:name="Publish Exception to Message Recorder" doc:id="5cab3d39-1a60-4b26-8fac-3ea84320583d" exchangeName="${exceptions.exchange}">
					<amqp:routing-keys>
						<amqp:routing-key value="${exceptions.queue}" />
					</amqp:routing-keys>
					<amqp:message>
						<amqp:body><![CDATA[#[%dw 2.0
output application/json
var tenantId = if(vars.integrationRequest.tenantId != null) vars.integrationRequest.tenantId else ""
---
{	
	serviceName: "PeopleDoc",
	originClass: "Namespace: " ++ error.errorType.parentErrorType.namespace ++ " Identifier: " ++ error.errorType.parentErrorType.identifier,
	exceptionType: "Namespace: " ++ error.errorType.namespace ++ " Identifier: " ++ error.errorType.identifier,
	message: "Tenant: " ++ tenantId ++ " Description: " ++ error.description ++ " Detailed description: " ++ error.detailedDescription ++ " Cause: " ++ error.cause.localizedMessage,
	stacktrace: "",
	timestamp: now() as Number{unit: "seconds"},
	tenantId: tenantId
	

}]]]></amqp:body>
					</amqp:message>
				</amqp:publish>
				<set-variable value='#[%dw 2.0
output application/json

---
{
	"status" : "FAILURE : "++ error.exception.message
}]' doc:name="Set File generation status" doc:id="6c1c056d-c272-4ed0-b1c4-6a4d92c9e7ab" variableName="peopledocUserProfileFileStatus"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="mule-integration-peopledoc-user-profile-mapping-flow" doc:id="d4a5f375-14fa-46ba-9b07-59b4e2123fee" >
		<logger level="INFO" doc:name="Logger" doc:id="89da78da-6eb3-4b2d-8b17-6b011622179a" message="Creating list of e-mail addresses for for Tenant Id : #[vars.integrationRequest.tenantId], Integration Id : #[vars.integrationRequest.integrationId]"/>
		<ee:transform doc:name="Create list of all email addresses" doc:id="a1d32346-dbf9-4d46-8610-4dbe65df4ff1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.ultiproUserProfileResponse map (item, index) -> (item.email)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<java:invoke-static doc:name="Gather duplicate email addresses" doc:id="3caa2e63-d36d-45c1-a066-f0716f61eba6" class="mulesoft.peopledoc.integration.DuplicateEmailListCreator" method="createDuplicateEmailList(List)">
			<java:args ><![CDATA[#[{arg0: payload}]]]></java:args>
		</java:invoke-static>
		<ee:transform doc:name="Map Ultipro response" doc:id="77cf7f5a-2c41-4b5f-ac17-c87fbec72bf0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv separator=';'
fun formatFilterType(str) = if (str == null or str == '') null else '=,' ++ str

---
vars.ultiproUserProfileResponse filter ($.roleId != 1 ) map {
    last_name: $.lastName,
    first_name: $.firstName,
    technical_id: if($.personId != null) 'USR' ++ $.personId else '',
    email_pro: if (payload contains $.email) $.userId ++ "@generatedemail.net" else $.email,
    phone_number: $.workPhone,
    external_role_id: $.roleName,
    role_id: '',
    'type': 'organization',
    operator: '<=',
    organization_code: $.masterCompanyId,
    delete: '',
    saml_token: $.integrationUserKey,
    employee_filter_COID: formatFilterType($.filterCompanyId),
    employee_filter_Deduction_Group: formatFilterType($.filterDeductionGroupCode),
    employee_filter_Employee_Type: formatFilterType($.filterEmployeeType),
    employee_filter_Employment_Status: formatFilterType($.filterStatus),
    employee_filter_FullTime_PartTime: formatFilterType($.filterFullTimeOrPartTime),
    'employee_filter_job-code': formatFilterType($.filterJobCode),
    employee_filter_location: formatFilterType($.filterLocationCode),
    'employee_filter_org-level-1': formatFilterType($.filterOrganizationLevel1),
    'employee_filter_org-level-2': formatFilterType($.filterOrganizationLevel2),
    'employee_filter_org-level-3': formatFilterType($.filterOrganizationLevel3),
    'employee_filter_org-level-4': formatFilterType($.filterOrganizationLevel4),
    'employee_filter_pay-group': formatFilterType($.filterPayGroupCode),
    employee_filter_Project: formatFilterType($.filterProjectCode),
    employee_filter_Hourly_Salary: formatFilterType($.filterSalaryOrHourly),
    employee_filter_Shift: formatFilterType($.filterShiftCode),
    'employee_filter_supervisor-id': formatFilterType($.filterSupervisorID),
    employee_filter_Tax_Calculation_Group_Id: formatFilterType($.filterTaxCalculationGroupID)
 }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log file Contents" doc:id="a3a7b94e-6b0a-4964-b383-5c46080d5f93" message="Mapped Output ready to be written to the file for user-profile for Tenant Id : #[vars.integrationRequest.tenantId], Integration Id : #[vars.integrationRequest.integrationId], Job Id : #[vars.integrationRequest.jobId], Dispatch Id : #[vars.integrationRequest.dispatchId]" />
		<set-variable value="#[payload]" doc:name="Set file contents" doc:id="93126cc2-44b0-4ca0-8fe5-9dd369eb5ac8" variableName="fileContents"/>
		<ee:transform doc:name="set file name" doc:id="6f339a67-9ec3-481d-8900-2ed3f4bbf2f0" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="fileDetails" ><![CDATA[%dw 2.0
output application/json
 var fileNameStart ='ndmat_'
 var username = vars.integrationRequest.fileTransferFields.sftpUsername
 var underscore = '_'
 var timestamp = now()
 var usr = 'usr'
 var csv = '.csv'
 var directory = 'in/usr'
 
---
{
	'fileName':
	fileNameStart as String 
	++ username as String 
	++ underscore as String
	++ username as String 
	++ underscore as String
	++ usr as String
	++ underscore as String
	++ timestamp as String{format: 'yyMMddHHmmssSSS'}
	++ csv as String,
	'directory': directory as String
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<logger level="INFO" doc:name="Logger" doc:id="6227bac5-194d-4d06-b254-a036f0dd1428" message="Calling SFTP Upload flow from user-profile for Tenant Id : #[vars.integrationRequest.tenantId], Integration Id : #[vars.integrationRequest.integrationId], Job Id : #[vars.integrationRequest.jobId], Dispatch Id : #[vars.integrationRequest.dispatchId]"/>
		<flow-ref doc:name="Upload File" doc:id="8959bbc5-28a5-45be-9e65-1144481b5512" name="peopledoc-integration-upload-fileFlow"/>
		
		<set-variable value='#[%dw 2.0
output application/json

---
{
	"status" : "SUCCESS"
}]' doc:name="Set File generation status" doc:id="856b519a-10d7-4c00-be63-08df3d6c0a96" variableName="peopledocUserProfileFileStatus"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="029e6c90-9811-4a02-b26c-f1b54972e6c5" type="ANY"/>
		</error-handler>
	</flow>
</mule>
