src/test/resources/test-upload-file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="test-upload-fileFlow" >
		<logger level="DEBUG" doc:name="Logger" message='Request to write file contents to  #[vars.integrationRequest.fileTransferFields.fileDestination]' />
		<choice doc:name="Configure path different for dev" >
			<when expression='#[vars.integrationRequest.fileTransferFields.fileDestination == "sftp-dev"]'>
				<set-variable value='#[output application/java --- vars.integrationRequest.alias ++ "/" ++ vars.fileDetails.directory ++ "/" ++ vars.fileDetails.fileName]' doc:name="Set file path with tenant alias" variableName="filepath" />
			</when>
			<otherwise >
				<set-variable value='#[output application/java --- vars.fileDetails.directory ++ "/" ++ vars.fileDetails.fileName]' doc:name="Set file path" variableName="filepath" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" type="ANY"/>
		</error-handler>
	</flow>
</mule>
