its/src/test/resources/project/src/mule-integration-peopledoc-organization.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ultimate-integrations="http://www.mulesoft.org/schema/mule/ultimate-integrations" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ultimate-integrations http://www.mulesoft.org/schema/mule/ultimate-integrations/current/mule-ultimate-integrations.xsd">
	
	<flow name="mule-integration-peopledoc-organization-flow" doc:id="25c74cf7-feb3-4e4e-a8ea-13b9a34bf38b" >
		<logger level="INFO" doc:name="Logger" doc:id="3a1b273d-443a-423d-9136-950e18a15137" message="Starting organization flow for Tenant Id : #[vars.integrationRequest.tenantId], Integration Id : #[vars.integrationRequest.integrationId], Job Id : #[vars.integrationRequest.jobId], Dispatch Id : #[vars.integrationRequest.dispatchId]" />
		<ee:transform doc:name="set pagination details for company details API" doc:id="fdb4daac-62c8-4735-8425-e698e0fdbc35">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="hxResource" ><![CDATA[%dw 2.0
output application/java
---
p('http.request.company.details.resource')]]></ee:set-variable>
						<ee:set-variable variableName="perPage" ><![CDATA[%dw 2.0
output application/java
---
p('http.request.per.page')]]></ee:set-variable>
						<ee:set-variable variableName="pageNumber" ><![CDATA[%dw 2.0
output application/java
---
p('http.request.page.number')]]></ee:set-variable>
						<ee:set-variable variableName="hxBasePath" ><![CDATA[%dw 2.0
output application/java
---
p('http.request.configuration.base.path')]]></ee:set-variable>
				<ee:set-variable variableName="optionalQueryParam" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<flow-ref doc:name="Ultipro Company details Response Aggregation" doc:id="59378f31-97fa-45af-9e99-f4638a45fdf6" name="mule-integration-peopledoc-http-response-aggregator-flow" target="ultiproCompanyDetailsResponse" targetValue="#[payload]"/>
		<flow-ref doc:name="Call mapping flow" doc:id="63fb8997-552d-4299-b1a0-2d05611718c1" name="mule-integration-peopledoc-organization-mapping-flow"/>
		
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e6e21d43-ce2d-4d47-ae3b-74de5e5e3e49" type="ANY">
				<logger level="ERROR" doc:name="Log request" doc:id="b93aaa54-e589-4765-baf0-57d689bcab46" message="Error Occured while processing Organization file for Tenant Id : #[vars.integrationRequest.tenantId], Integration Id : #[vars.integrationRequest.integrationId], Job Id : #[vars.integrationRequest.jobId], Dispatch Id : #[vars.integrationRequest.dispatchId] ***************** Error is ****************** : #[error]"/>
				<amqp:publish config-ref="AMQP_Config_Secure" doc:name="Publish Exception to Message Recorder" doc:id="6ebf8aaa-f033-498b-b69c-34e84d4bf9ae" exchangeName="${exceptions.exchange}">
					<amqp:routing-keys>
						<amqp:routing-key value="${exceptions.queue}" />
					</amqp:routing-keys>
					<amqp:message>
						<amqp:body><![CDATA[#[%dw 2.0
output application/json
var tenantId = if(vars.integrationRequest.tenantId != null) vars.integrationRequest.tenantId else ""
---
{	
	serviceName: "PeopleDoc",
	originClass: "Namespace: " ++ error.errorType.parentErrorType.namespace ++ " Identifier: " ++ error.errorType.parentErrorType.identifier,
	exceptionType: "Namespace: " ++ error.errorType.namespace ++ " Identifier: " ++ error.errorType.identifier,
	message: "Tenant: " ++ tenantId ++ " Description: " ++ error.description ++ " Detailed description: " ++ error.detailedDescription ++ " Cause: " ++ error.cause.localizedMessage,
	stacktrace: "",
	timestamp: now() as Number{unit: "seconds"},
	tenantId: tenantId

}]]]></amqp:body>
					</amqp:message>
				</amqp:publish>
				<set-variable doc:name="Set File generation status" doc:id="f7987a7b-e3bb-4504-9f7b-ff0a6c7e11b7" variableName="peopledocOrganizationFileStatus" value='#[%dw 2.0
output application/json

---
{
	"status" : "FAILURE : "++ error.exception.message
}]'/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="mule-integration-peopledoc-organization-mapping-flow" doc:id="d4a5f375-14fa-46ba-9b07-59b4e2123fee" >
		<ee:transform doc:name="Map Ultipro response" doc:id="77cf7f5a-2c41-4b5f-ac17-c87fbec72bf0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv separator=';'
---
vars.ultiproCompanyDetailsResponse map {
     organization_code: $.companyId,
     name: $.companyName,
     parent_organization_code: if ($.isMasterCompany) '' else $.masterCompanyId,
     'leave-empty-1':'',
     'leave-empty0':'',
     'leave-empty1':'',
     'leave-empty2':'',
     'leave-empty3':'',
     'leave-empty4':'',
     'leave-empty5':'',
     'leave-empty6':'',
     'leave-empty7':'',
     'leave-empty8':'',
     'leave-empty9':''
 }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<logger level="INFO" doc:name="Log file Contents" doc:id="a3a7b94e-6b0a-4964-b383-5c46080d5f93" message="Mapped Output ready to be written to the file for organization for Tenant Id : #[vars.integrationRequest.tenantId], Integration Id : #[vars.integrationRequest.integrationId], Job Id : #[vars.integrationRequest.jobId], Dispatch Id : #[vars.integrationRequest.dispatchId]" />
		
		<set-variable value="#[payload]" doc:name="Set file contents" doc:id="93126cc2-44b0-4ca0-8fe5-9dd369eb5ac8" variableName="fileContents"/>
		
		<ee:transform doc:name="set file name" doc:id="6f339a67-9ec3-481d-8900-2ed3f4bbf2f0" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="fileDetails" ><![CDATA[%dw 2.0
output application/json
 var fileNameStart ='ndmat_'
 var username = vars.integrationRequest.fileTransferFields.sftpUsername
 var underscore = '_'
 var timestamp = now()
 var sir = 'sir'
 var csv = '.csv'
 var directory = 'in/sir'
---
{
	'fileName':
	fileNameStart as String 
	++ username as String 
	++ underscore as String
	++ username as String 
	++ underscore as String
	++ sir as String
	++ underscore as String
	++ timestamp as String{format: 'yyMMddHHmmssSSS'}
	++ csv as String,
	'directory': directory as String
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<logger level="INFO" doc:name="Logger" doc:id="8ca9a044-abcb-4de2-8190-64684763f39e" message="Callling SFTP Upload flow from organizaiton for Tenant Id : #[vars.integrationRequest.tenantId], Integration Id : #[vars.integrationRequest.integrationId], Job Id : #[vars.integrationRequest.jobId], Dispatch Id : #[vars.integrationRequest.dispatchId]"/>
		<flow-ref doc:name="Upload File" doc:id="4ab1b28b-5dd2-44a0-aadd-5826b2c8ec1e" name="peopledoc-integration-upload-fileFlow"/>
		
		<set-variable value='#[%dw 2.0
output application/json

---
{
	"status" : "SUCCESS"
}]' doc:name="Set File generation status" doc:id="790bde18-34cc-44b3-b863-c32d74eb3fed" variableName="peopledocOrganizationFileStatus"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="029e6c90-9811-4a02-b26c-f1b54972e6c5" type="ANY"/>
		</error-handler>
	</flow>
</mule>
